h2{
    color: darksalmon;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.ul-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.ul-3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}